{% extends "layout.html" %}
{% block content %}
<article class="Venn2">
  <h2>Stock Model</h2>
  <div class="circle one">
    <span></span>
    <span></span>
    <h3>When</h3>
    <p>
      Find the best Air BnB deals at popular destinations for when you go!
    </p>
  </div>
  <div class="circle two">
    <span></span>
    <span></span>
    <h3>Where</h3>
    <p>
      Find when the best Air BnB deals are based on where you want to go!
    </p>
  </div>
  <div class="shape onetwo">
    <span></span>
    <span></span>
    <h3>When + Where</h3>
    <p>
      Find the best Ait BnB deal for where you are going and when you are going!
    </p>
  </div>
</article>
{% endblock content%}