<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
    {% if title %}
      <title>Bullbnb - {{ title }}</title>
    {% else %}
      <title>Bullbnb</title>
    {% endif %}
  </head>
  <body>
    <h1 id="mainHeading">Bullbnb</h1>
    <form id="mainForm" method="post">
      <p id="whereLabel">Location<input id="whereInput" type="text" name="Location" placeholder="Location"/></p><br id="optionalBr">
      <p id="whenStartLabel">Trip Range Start<input id="whenInputStart" type="date" name="Trip Range Start" placeholder="Earliest Start Date"/></p>
      <p id="whenEndLabel">Trip Range End<input id="whenInputEnd" type="date" name="Trip Range End" placeholder="Latest End Date"/></p><br>
      <p id="durationLabel">Trip Duration<input id="durationInput" type="number" name="Trip Duration" placeholder="Trip Duration (# of Days)"/></p><br>
      <input id="mainSubmit" type="submit"/>
    </form>
    <div class="container" id="vennBox">
      {% block content %}{% endblock %}
    </div>
    <script>
      // handles button clicks
      function btnClicked(btnId){
        switch(btnId){
          case "whereCircle":
            mainFormPop(true, false);
            break;
          case "whenCircle":
            mainFormPop(false, true);
            break;
          case "bothCircle":
            mainFormPop(true, true);
            break;
        }
      }

      // displays the proper elements of the main input form depending on the chosen option
      function mainFormPop(where = false, when = false){
        mainForm.style.display = "block";
        whereInput.style.display = whereLabel.style.display = where?"inline-block":"none";
        whenInputStart.style.display = whenInputEnd.style.display = whenStartLabel.style.display = whenEndLabel.style.display = when?"inline-block":"none";
        optionalBr1.style.display = optionalBr2.style.display = (where && when)?"inline":"none";
      }

      // gets the main form and inputs
      var mainForm = document.getElementById("mainForm");
      var whereLabel = document.getElementById("whereLabel");
      var whereInput = document.getElementById("whereInput");
      var whenStartLabel = document.getElementById("whenStartLabel");
      var whenEndLabel = document.getElementById("whenEndLabel");
      var whenInputStart = document.getElementById("whenInputStart");
      var whenInputEnd = document.getElementById("whenInputEnd");
      var durationInput = document.getElementById("durationInput");
      var optionalBr1 = document.getElementById("optionalBr1");
      var optionalBr2 = document.getElementById("optionalBr2");

      // grabs the venn diagram parts and assigns click function calls to them
      var whereCircle = document.getElementById("whereCircle");
      whereCircle.addEventListener('click', function(){btnClicked("whereCircle");});
      var whenCircle = document.getElementById("whenCircle");
      whenCircle.addEventListener('click', function(){btnClicked("whenCircle");});
      var bothCircle = document.getElementById("bothCircle");
      bothCircle.addEventListener('click', function(){btnClicked("bothCircle");});
    </script>
  </body>
</html>